.boxed {
    position: fixed;
    top: 50%;
    left: 52.5%;
    margin-top: -50px;
    margin-left: -50px;
    transform: translate(-50%,-50%);
    border-radius: 25px;
    width: 50%;
    text-align: center;
    background-color: rgb(80, 79, 79);
    border: 3px solid rgba(128, 128, 128, 0.616);
    padding: 20px;
    font-family: "Lucida Console", monospace;
    color: white;
  }